<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lindsay Ruddock</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" href="styles/main.css">
</head>
<body>
	<div class="content">
		<nav>
			<ul>
				<a href="./"><li>About</li></a>
				<a href="./cv.html"><li>CV</li></a>
				<a href="./vario-history.html"><li>Vario history</li></a>
				<a href="./vario-repair.html"><li>Vario repair</li></a>
			</ul>
		</nav>

		<div class="main">
			<header>
				<div class="portrait"></div>
				<div class="title">
					<h1>Lindsay Ruddock</h1>
					<h2>Electrical engineer and inventor of the LR vario series</h2>
				</div>
			</header>
			<article>