html, body {
	height: 100%;
	margin: 0;
}

body {
	background: #E5E5E5;
	font-family: Roboto Slab;
	font-weight: 300;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.content {
	min-height: 95%;
}

.address {
	margin-left: 30px;
}

footer {
	height: 5%;
}

a {
	color: #000;
}

.title h1 {
	font-weight: 400;
	font-size: 3em;
	margin: 0;
	margin-bottom: 0.25em;
}
.title h2 {
	margin: 0;
	font-weight: 300;
	font-size: 1.2em;
}

h2 {
	margin-top: 2em;
}
h3 {
	margin-top: 2.5em;
}

td {
	padding-right: 40px;
}

nav {
	width: 15%;
	margin-top: 5%;
	margin-left: 2%;
	float: left;
}
nav ul {
	padding: 0;
}
@media only screen and (min-width: 1550px) {
	nav ul {
		padding-left: 25%;
	}
	header {
		padding-left: 40%;
	}
	article {
		-webkit-columns: 2;	
		-moz-columns: 2;
		columns: 2;
	}
}

@media only screen and (max-width: 1070px) {
	nav {
		margin-left: 0;
	}
	nav ul {
		padding: 10px;
	}
}

nav li {
	background-color: #FFFFFF;
	box-shadow: 8px 8px 0px #A2A2A2;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	list-style-type: none;
	margin-bottom: 40px;
	padding: 8px 16px;
	float: left;
	clear: left;
	white-space: nowrap;
	border-right: 1px solid #A2A2A2;
	border-bottom: 1px solid #A2A2A2;
}
nav li:hover {
	background: #DCDCDC;
	box-shadow: 8px 8px 0px #686868;
}

.main {
	width: 80%;
	float:right;
}

header {
	text-align: right;
	padding-top: 2%;
	padding-right: 5%;
	display: flex;
}
.portrait {
	background: url(../images/lindsay-ruddock.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	margin-right: 3em;
	border-radius: 500px;
}
.title {
	float: right;
	text-align: left;
	margin: 30px;
	margin-left: 0;
}

article {
	clear: both;
	margin: 5em;
	margin-top: 4%;
	margin-right: 15%;
	padding: 2em;
	background-color: #FFFFFF;
	box-shadow: 8px 8px 0px #A2A2A2, 16px 16px 0px #686868;
	border-right: 1px solid #A2A2A2;
	border-bottom: 1px solid #A2A2A2;
}

article img {
	max-width: 100%;
}

footer {
	clear:both;
	text-align: center;
}

@media only screen and (max-width: 800px) {
	nav {
		width: 100%;
		margin-top: 0em;
	}
	nav li {
		float: left;
		clear:none;
		border-right: 1px solid #A2A2A2;
	}
	.main {
		float: none;
		width: 100%;
		margin: 5%;
		margin: 0;
	}
	article {
		width: 74%;
		margin: 2%;
		margin-right: 4%;
		padding: 10%;
		margin-bottom: 32px
	}
	header {
		display: block;
		position: static;
		width: 90%;
		padding: 5%;
		padding-bottom: 0;
		margin: 0;
		text-align: center;
	}
	header .portrait {
		float: none;
		margin: 0;
		display: none;
		height: 200px;
	}
	header .title {
		text-align: center;
		float: none;
		padding: 0% 0%;
	}
}
@media only screen and (max-width: 560px) {
	nav li {
		font-size: 20px;
	}
}
@media only screen and (max-width: 460px) {
	nav li {
		font-size: 15px;
	}
}